/* 导航栏置顶 */
.nav-fixed #nav{
  transform: translateY(58px)!important;
  -webkit-transform: translateY(58px)!important;
  -moz-transform: translateY(58px)!important;
  -ms-transform: translateY(58px)!important;
  -o-transform: translateY(58px)!important;
}
#nav{
  transition: none!important;
  -webkit-transition: none!important;
  -moz-transition: none!important;
  -ms-transition: none!important;
  -o-transition: none!important;
}

/* 导航栏居中 */
@media screen and (min-width: 768px) {
  div#menus {
      width: 100%;
      text-align: center;
  }
  #blog_name {
      display: none;
  }
}

/* 二级菜单栏居中*/  
#nav .menus_items .menus_item:hover .menus_item_child{
  display: flex;
}
/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -85px;
}
.menus_items .menus_item:nth-child(3) .menus_item_child {
  left: -85px;
}
/* 网站运行时间容器 */
div#runtime {
  width: fit-content;
  color: #fff;
  padding: 0 10px;
  border-radius: 10px;
  background-color: rgba(244, 244, 244, 0); /* 透明背景 */
  margin:auto
  /*display: flex;
  justify-content: center; /* 水平居中 */
  /*align-items: center; /* 垂直居中 */
  /*text-align: center; /* 文本居中 */
}

[data-theme="write"] div#runtime {
  color: #28b4c8;
  box-shadow: 0 0 5px rgba(28, 69, 218, 0.71);
}

/*页脚改为透明色*/
#footer:before {
  content: none !important;
}
